    <footer class="bd-footer bg-body-tertiary">
      <div class="py-3 text-center">
        <p>
          This website is made with <a href="https://getbootstrap.com" target="_blank" rel="noopener">Bootstrap</a>,
          themed with <a href="https://bootswatch.com" target="_blank" rel="noopener">Bootswatch</a>.
        </p>
        <p>
          jq is licensed under the MIT license (code) and the
          <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="noopener">CC-BY-3.0</a> license (docs).
        </p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
