<footer>
  <div class="container">
    {{ footer | markdownify }}
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{root}}/bootstrap/js/bootstrap.min.js"></script>
<script src="{{root}}/js/bootstrap3-typeahead.js"></script>
