
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="{{root}}/">jq</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          {% for item in navigation %}
            <li {% if item.permalink == permalink %} class="active" {% endif %}>
              <a href="{{root}}{{item.permalink}}">{{item.name}}</a>
            </li>
          {% endfor %}
          <li><a href="https://github.com/stedolan/jq/issues">Issues</a></li>
          <li><a href="https://github.com/stedolan/jq">Source</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
