<head>
  <meta charset=UTF-8>
  <title>{{headline}}</title>
  <link rel="stylesheet" href="{{root}}/bootstrap/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="{{root}}/css/base.css" type="text/css">
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script src="{{root}}/bootstrap/js/bootstrap.js"></script>

</head>