  <head>
    <meta charset="utf-8">
    <title>{{ headline }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ root }}/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ root }}/icon.png" type="image/png">
    <link rel="canonical" href="{{ url }}/{{ permalink }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.1/dist/cosmo/bootstrap.min.css"
      integrity="sha384-dulfW0vmzZ638jigSgZXvDxMmd70GCnIv6oa+riKq6Kk4E0MKf7qmBfwP02wltv5" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
      integrity="sha384-Ay26V7L8bsJTsX9Sxclnvsn+hkdiwRnrjZJXqKmkIDobPgIIWBOVguEcQQLDuhfN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ root }}/css/style.css" type="text/css">
    <script>
      (function() {
        function setTheme(mediaQuery) {
          document.documentElement.setAttribute('data-bs-theme',
            document.documentElement.style.colorScheme = mediaQuery.matches ? 'dark' : 'light');
        }
        const mediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
        setTheme(mediaQuery); mediaQuery.addEventListener('change', setTheme);
      })();
    </script>
  </head>
