Source: jq
Priority: extra
Maintainer: Pierre Carrier <pierre@spotify.com>
Section: utils
Build-depends:
 debhelper (>= 7.0.50),
 flex,
 bison,
 valgrind

Package: jq
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Command-line JSON processor
 jq is like sed for JSON data - you can use it to slice and filter and map
 and transform structured data with the same ease that sed, awk, grep and
 friends let you play with text.
 jq is written in portable C, and it has zero runtime dependencies.
 jq can mangle the data format that you have into the one that you want with
 very little effort, and the program to do so is often shorter and simpler
 than you'd expect.
