[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jinja2 = "==3.0.2" # FIXME: stop using deprecated features
pyyaml = "*"
markdown = "*"
lxml = "*"
