name: decnum
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  disabled:
    runs-on: ubuntu-24.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get install -y automake autoconf libtool
      - name: Build
        run: |
          autoreconf -i
          ./configure \
            --disable-docs \
            --disable-maintainer-mode \
            --disable-decnum
          make -j"$(nproc)"
          file ./jq
      - name: Test
        run: |
          diff <(echo 100000000000000000000 | ./jq) <(echo 1e+20)
          make check VERBOSE=yes
          git diff --exit-code
      - name: Upload Test Logs
        if: ${{ failure() }}
        uses: actions/upload-artifact@v6
        with:
          name: test-logs-decnum-disabled
          retention-days: 7
          path: |
            test-suite.log
            tests/*.log
