name: pcre2
on:
  push:
    branches:
      - master
  pull_request:

# Since builtin pcre2 is tested in the CI workflow,
# we test other options for --with-pcre2 here.
jobs:
  installed:
    runs-on: ubuntu-24.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v6
      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get install -y automake autoconf libtool valgrind libpcre2-dev libpcre2-8-0
      - name: Build
        run: |
          autoreconf -i
          ./configure \
            --disable-docs \
            --enable-valgrind \
            --with-pcre2=yes
          make -j"$(nproc)"
          file ./jq
      - name: Test
        run: |
          ./jq -n '"" | test("")'
          make check VERBOSE=yes
          git diff --exit-code
      - name: Upload Test Logs
        if: ${{ failure() }}
        uses: actions/upload-artifact@v6
        with:
          name: test-logs-pcre-installed
          retention-days: 7
          path: |
            test-suite.log
            tests/*.log

  disabled:
    runs-on: ubuntu-24.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v6
      - name: Install packages
        run: |
          sudo apt-get update
          sudo apt-get install -y automake autoconf libtool valgrind
      - name: Build
        run: |
          autoreconf -i
          ./configure \
            --disable-docs \
            --enable-valgrind \
            --with-pcre2=no
          make -j"$(nproc)"
          file ./jq
      - name: Test
        run: |
          ! ./jq -n '"" | test("")'
          make check VERBOSE=yes
          git diff --exit-code
      - name: Upload Test Logs
        if: ${{ failure() }}
        uses: actions/upload-artifact@v6
        with:
          name: test-logs-pcre-disabled
          retention-days: 7
          path: |
            test-suite.log
            tests/*.log
